body {
  background: white;
}
h1 {
  color: black;
  text-align: center;
}
p {
  color: black;
  text-align: center;
}
div {
  background-color:rgb(200, 196, 196);
  color:black;
  padding:250px;
}

.button:hover{
  background-color: #555555;
  font-size: 20px;
  border-radius: 2px;

}

/*
filler code till i can sit down and do it myself
*/