body {
  background: white;
}
h1 {
  color: black;
  text-align: center;
}
p {
  color: black;
  text-align: center;
}
a.sticky {
  text-align: center;
}
div {
  background-color:rgb(200, 196, 196);
  color:black;
  padding-top: 250px;
  padding-right: 700px;
  padding-left: 700px;
  padding-bottom: 20px;
}

.button{
  background-color: #555555;
  font-size: 20px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;

}

/*
filler code till i can sit down and do it myself
*/